<div
  class="panel sa-assistform-panel">
  <form id="sa-assist-form" name="form" class="form-horizontal" novalidate>
    <fieldset>
      <div
        class="form-group"
        ng-class="{'has-error':form.profile.$invalid}">
        <label>Select Profile</label>
        <div class="input-group">
          <select
            class="form-control"
            name="profile"
            ng-model="selectedProfile"
            ng-required="true"
            ng-options="p for p in getProfiles()">
          </select>
            <div class="input-group-addon sa-assist-help-btn">
              <button
                class="btn"
                popover-trigger="'focus'"
                popover-placement="left"
                uib-popover="Select the profile that best describes the job being run."
                popover-trigger="'focus'"
                popover-title="Select a profile to begin">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </button>
            </div>
            <div class="input-group-addon sa-assist-help-btn">
              <button
                class="btn"
                tooltip-trigger="mouseenter"
                tooltip-placement="left"
                uib-tooltip="Reset form to profile default."
                ng-disabled="form.profile.$invalid"
                ng-click="resetDefaults()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
            </div>
        </div>
      </div>
      <div
        class="form-group"
        ng-show="selectedProfile!=''">
        <label>Add Directives</label>
        <div class="input-group" ng-class="{'has-success':propValid()}">
          <input
            typeahead-focus
            typeahead-min-length="0"
            typeahead-on-select="addField()"
            type="text"
            class="form-control"
            ng-model="selectedProp"
            uib-typeahead="p for p in getProperties() | filter:$viewValue:emptyOrMatch">
          <div class="input-group-addon sa-assist-help-btn">
            <button
              class="btn"
              tooltip-placement="left"
              uib-tooltip="Add a new directive"
              ng-click="addField()"
              ng-disabled="!propValid()">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>&nbsp;</legend>
      <div
        ng-repeat="field in getFields() track by $index"
        ng-include="'/static/slurm/sa-assistform/fields/sa-field-' + field.type + (field.subtype || '') + '.html'">
      </div>
    </fieldset>
  </form>
</div>
