/*
 * Main content
 */

/*.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.main .page-header {
  margin-top: 0;
}*/

.viewpane {
  width: 100%;
  padding: 10px;
}

#slurm-main .nav-pills > li.active > a {
  border-color: #93c54b;
  color: #93c54b;
  background-color: white;
}

.viewpane.schedule-view {
  height: 88vh;
}

.viewpane.status-view {
  height: 88vh;
  /*overflow-y: auto;*/
}

/*
 * Schedule Styles
  */
.sched-col {
  height: 76vh;
}
.sched-col.sched-col-right {
  overflow-y: scroll;
}

/*
 * Script Editor Styles
  */
.sa-script-panel {

}
.sa-script-label {
  color: #888888;
}
.sa-directives {
  height: 30vh;
  overflow-y: auto;
  border-bottom-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
}
.sa-script-editor {
  border: 1px solid #cccccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  height: 40vh;
}

/*
 * Assist Form Styles
 */
#sa-assist-form .checkbox {
  margin-bottom: 15px;
}
#sa-assist-form .checkbox > label {
   margin-bottom: 10px;
   margin-top: 15px;
   font-weight: bold;
}
.sa-assist-help-btn {
  padding: 15px 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #3e3f3a;
  text-align: center;
  background-color: #f8f5f0;
  border: 1px solid #dfd7ca;
  border-radius: 4px;
}
