.partial-fill {
  height: 98%;
}
.ace-schedule {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 90%;
}
.assist-col {
  height: 90%
}
.popover {
  max-height: 20vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  margin-top: 1%;
}

#assist-button-panel {
  margin-left: 25px;
  margin-right: 25px;
}
#builder-form-container {
  height: 90% !important;
  overflow-y: scroll;
}
#directive-section {
  height: 46%;
  margin-bottom: 10px;
}
#script-section {
  height: 46%;
  margin-top: 20px;
}
#top-drop-down .dropdown-menu{
  max-height: 40vh;
  overflow-y: scroll;
}
