<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }">
  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}">{{form.title}}</label>

<div class="input-group">
  <input ng-show="form.key"
         type="{{form.type}}"
         step="any"
         sf-changed="form"
         placeholder="{{form.placeholder}}"
         class="form-control {{form.fieldHtmlClass}}"
         id="{{form.key.slice(-1)[0]}}"
         ng-model-options="form.ngModelOptions"
         sf-field-model
         ng-disabled="form.readonly"
         schema-validate="form"
         name="{{form.key.slice(-1)[0]}}"
         aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}">

  <span ng-if="hasError() || hasSuccess()"
        id="{{form.key.slice(-1)[0] + 'Status'}}"
        class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>

  <span class="input-group-btn">
    <button class="btn btn-default" type="button" popover="{{form.popover}}" popover-placement="left">
      <i class="fa fa-question"></i>
    </button>
    <button class="btn btn-default" type="button" ng-click="form.delete(form.key)">
      <i class="fa fa-times"></i>
    </button>
  </span>
</div>


  <div class="help-block" sf-message="form.description"></div>
</div>
