<div
  ng-init="title=field.title"
  ng-class="{'has-error':form[title].$invalid}">
  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        name="{{title}}"
        ng-model="sbatch[field.title]"
        ng-pattern="field.pattern"
        ng-readonly="field.readonly">
        {{field.title}}
    </label>
    <div
      class="sa-assist-help-btn pull-right"
      ng-hide="config.profiles[selectedProfile].schema.required.indexOf(title)>=0">
      <button
        class="btn"
        ng-click="removeField(field)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="sa-assist-help-btn pull-right">
      <button
        class="btn"
        popover-placement="left"
        uib-popover="{{title}}: {{field.description}}"
        popover-trigger="'focus'"
        popover-title="{{title}}">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
