<div
  class="form-group"
  ng-init="title=field.title"
  ng-class="{'has-error':form[title].$invalid}">
  <label>{{field.title}}</label>
  <div class="input-group">
    <select
      class="form-control"
      name="{{title}}"
      ng-if="field.hasOwnProperty('enum')"
      ng-model="sbatch[field.title]"
      ng-options="o for o in field.enum"
      ng-readonly="field.readonly"
      ng-required="true"></select>
    <input
      class="form-control"
      name="{{title}}"
      ng-if="!field.hasOwnProperty('enum')"
      ng-model="sbatch[field.title]"
      ng-pattern="field.pattern"
      ng-readonly="field.readonly"
      ng-required="true">
    <div class="input-group-addon sa-assist-help-btn">
      <button
        class="btn"
        popover-placement="left"
        uib-popover="{{title}}: {{field.description}}"
        popover-trigger="'focus'"
        popover-title="{{title}}">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </button>
    </div>
    <div
      class="input-group-addon sa-assist-help-btn"
      ng-hide="config.profiles[selectedProfile].schema.required.indexOf(title)>=0">
      <button
        class="btn"
        ng-click="removeField(field)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
