<div ng-controller="QueuedCtrl">
  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="Job Name">Job Name</th>
      <th st-sort="Start Time">Start Time</th>
      <th st-sort="End Time">End Time</th>
    </tr>
    </thead>
    <h3>Queued</h3>
    <tbody>
    <tr ng-repeat="row in displayedCollection">
      <td>{{row.jobname}}</td>
      <td>{{row.start}}</td>
      <td>{{row.end}}</td>
      <td>
      <button type="button">details</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<div ng-controller="RunningCtrl">
  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="Job Name">Job Name</th>
        <th st-sort="Start Time">Start Time</th>
        <th st-sort="End Time">End Time</th>
      </tr>
      </thead>
      <h3>Running</h3>
      <tbody>
      <tr ng-repeat="row in displayedCollection">
        <td>{{row.jobname}}</td>
        <td>{{row.start}}</td>
        <td>{{row.end}}</td>
        <td>
        <button type="button">details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-controller="CompletedCtrl">
  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="Job Name">Job Name</th>
        <th st-sort="Start Time">Start Time</th>
        <th st-sort="End Time">End Time</th>
      </tr>
      </thead>
      <h3>Completed</h3>
      <tbody>
      <tr ng-repeat="row in displayedCollection">
        <td>{{row.jobname}}</td>
        <td>{{row.start}}</td>
        <td>{{row.end}}</td>
        <td>
        <button type="button">details</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
