<div ng-controller="AjaxCall">
  <button type="button" class="btn" ng-click="getJobList()">Get Job List</button>
</div>

<div ng-controller="QueuedCtrl">
  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="JobID">Job Name</th>
      <th st-sort="Start">Start Time</th>
      <th st-sort="End">End Time</th>
    </tr>
    </thead>
    <h3>Queued</h3>
    <tbody>
    <tr ng-repeat="row in displayedCollection">
      <td>{{row.JobID}}</td>
      <td>{{row.Start}}</td>
      <td>{{row.End}}</td>
      <td>
      <button type="button" class="btn">details</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<div ng-controller="RunningCtrl">
  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="JobID">Job Name</th>
        <th st-sort="Start">Start Time</th>
        <th st-sort="End">End Time</th>
      </tr>
      </thead>
      <h3>Running</h3>
      <tbody>
      <tr ng-repeat="row in displayedCollection">
        <td>{{row.JobID}}</td>
        <td>{{row.Start}}</td>
        <td>{{row.End}}</td>
        <td>
        <button type="button" class="btn">details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-controller="CompletedCtrl">
  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="JobID">Job Name</th>
        <th st-sort="Start">Start Time</th>
        <th st-sort="End">End Time</th>
      </tr>
    </thead>
      <h3>Completed</h3>
    <tbody>
      <tr ng-repeat="row in displayedCollection">
        <td>{{row.JobID}}</td>
        <td>{{row.Start}}</td>
        <td>{{row.End}}</td>
        <td>
        <button type="button" class="btn">details</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
