<div ng-controller="JobListCtrl">
  <button type="button" class="btn" ng-click="getJobList()">Get Job List</button>
  <table st-table="displayCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="getters.State" st-sort-default="true" st-skip-natural="true">State</th>
      <th "JobID">Job Name</th>
      <th "Start">Start Time</th>
      <th "End">End Time</th>
    </tr>
    </thead>
 
    <tbody>
    <tr ng-repeat="row in displayCollection">
      <td>{{row.State}}</td>
      <td>{{row.JobID}}</td>
      <td>{{row.Start}}</td>
      <td>{{row.End}}</td>
      <td>
      <button type="button" class="btn">details</button>
      </td>
    </tr>
    </tbody>
  </table>

