<div
  class="panel sa-assistform-panel">
  <form id="sa-assist-form" name="form" class="form-horizontal" novalidate>
    <fieldset>
      <div
        class="form-group"
        ng-class="{'has-error':form.profile.$invalid}">
        <label>Select Profile</label>
        <div class="input-group">
          <select
            class="form-control"
            name="profile"
            ng-model="selectedProfile"
            ng-required="true"
            ng-options="p for p in getProfiles()">
          </select>
            <div class="input-group-addon sa-assist-help-btn">
              <button
                class="btn"
                popover-trigger="mouseenter"
                popover-placement="left"
                popover="Select the profile that best describes the job being run."
                popover-title="Select a profile to begin">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </button>
            </div>
        </div>
      </div>
      <div
        class="form-group"
        ng-show="selectedProfile!=''">
        <label>Add Directives</label>
        <input
          typeahead-focus
          type="text"
          class="form-control"
          ng-keypress="onTypeaheadKey($event)"
          ng-model="selectedProp"
          typeahead="p for p in getProperties() | filter:$viewValue:emptyOrMatch">
        <span class="pull-right help-block">Hit enter to add</span>
      </div>
    </fieldset>
    <fieldset>
      <legend>&nbsp;</legend>
      <div
        ng-repeat="field in getFields() track by $index"
        ng-include="'/static/slurm/templates/fields/sa-field-' + field.type + '.html'">
      </div>
    </fieldset>
  </form>
</div>
