<div id="qos-select" class="form-inline">
<div class="form-group">
  <select
  class="form-control"
  ng-model="qosSelected"
  ng-change="changeQos()"
  ng-options="qos for qos in qosOptions">
  </select>
</div>
<div class="form-group"><b>Select a QOS</b></div>
</div>
<div id="top-drop-down" class="form-inline">
  <div class="form-group">
  <input type="text" ng-model="selected" class="form-control form-inline" ng-keypress="onEnter($event)" ng-focus="onFocus($event)" typeahead="option for option in options | filter:$viewValue:emptyOrMatch" typeahead-focus>
  </div>
  <div class="form-group"><b>add new field</b></div>
</div>
<form novalidate name="slurmForm">
  <div sf-schema="schema" sf-form="form" sf-model="formModel" sf-options="{validateOnRender: true}"></div>
</form>
