<div class="row partial-fill">
  <div id="sched-col-left" class="col-md-6 main sched-col">
    <div sa-sbatch-script sbatch="ctrl.sbatch"></div>
  </div>
  <div id="sched-col-right" class="col-md-6 main sched-col">
    <div sa-assist-form config="ctrl.formConfig" sbatch="ctrl.sbatch"></div>
  </div>

  <div class="col-md-12">
    <div id="sched-button-panel" class="well well-lg">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button type="button" id="save-button" class="btn btn-default sched-button">Save Script for Later</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="load-button" class="btn btn-default sched-button">Load Saved Script</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="estimate-button" class="btn btn-default sched-button">Service Unit Estimate</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="submit-button" class="btn btn-success sched-button">Schedule Job</button>
        </div>
      </div>
    </div>
  </div>

</div>
